// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
$black: #000000;
$white: #FFFFFF;
$orange-dark: #999900;
$orange-light: #CCCC00;


body {
  background-color: $white;
  color: $orange-dark;
}

a {
  color: $blue; 
  &:visited {
    color: $orange-light;
  }
  &:hover {
    color: $white;
  }

}
